<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	
<div class="icon-bar">
        <a href="https://www.facebook.com/" class="facebook"><i style='font-size:24px' class='fab'>&#xf082;</i></a>
      
        <a href="https://www.gmail.com" class="twitter"><i style='font-size:24px' class='fas'>&#xf199;</i></a>
      
        <a href="https://twitter.com/" class="google"><i style='font-size:24px' class='fab'>&#xf081;</i></a>
      
        <a href="https://www.linkedin.com" class="linkedin"><i style='font-size:24px' class='fab'>&#xf08c;</i></a>
      
        <a href="https://www.youtube.com/" class="youtube"><i class='fab fa-youtube' style='font-size:24px;color:red'></i></a>
      </div>
<center><h1>  Here's how to register:</h1>
   <h2> Log in to the application using your student credentials.<br>
    Enter the student details.<br>
    Under Upcoming you will see the courses you may be able to register for.<br>
    Click the button Register for the course you want to register for.<br>
    Review and approve the registration by clicking Register me.<br></h2>
  </center>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
